<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Suite">
    <listeners >
        <listener class-name = "reports.extentReporter"/>
    </listeners>

    <test name="RestAssured-Template-Test">
        <classes>
            <class name="testclasses.test"/>
        </classes>
    </test>

</suite>